@use "colors";

.intro {
    text-align: center;
}

.intro__name {
    margin-top: 20px;
    font-size: 25px;
    color: colors.$white;
}

.intro__position {
    color: colors.$light-orange;
    font-size: 14px;
    margin-top: 7px;
}

.intro__web {
    font-size: 12px;
    color: colors.$web-color;
    margin-top: 10px;
    margin-bottom: 15px;
}